* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    color: rgb(99, 99, 99);
    text-decoration: none;
}

img {
    max-width: auto;
    max-height: 100%;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0 1em 0 1em;
}

ul {
    display: flex;
    align-items: center;
}

li {
    display: inline;
    padding: 1em;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3em;
    height: 3em;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: #fff;
}

.icon-container:hover {
    text-decoration: none;
    border: 2px solid #f2f2f2;
    background-color: #f2f2f2;
}

.no-line:hover {
    text-decoration: none;
}

footer {
    border-top: 1px solid #dddddd;
    flex-shrink: 0;
    background-color: #f2f2f2;
}

figure {
    display: flex;
    padding: 2em;
    justify-content: center;
}

#search-container {
    width: 100%;
    border-radius: 2em;
    border: 1px solid lightgrey;
    height: 3em;
    margin-bottom: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#searchbar {
    border: none;
}

#search {
    color: lightgrey;
    margin-left: 0.5em;
}

#voice-icon {
    height: 50%;
    width: auto;
    margin-right: 1em;
}

#profile img {
    height: 2.5em;
    border-radius: 50%;
}

button {
    color: #666666;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 5px;
    display: inline-block;
    padding: 1em;
    margin: 0.5em;
}

button:hover {
    border: 1px solid lightgrey;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

#container {
    flex: 1 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#button-container {
    display: flex;
    justify-content: center;
}

#content {
    margin-top: 10%;
    min-width: 500px;
}