* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    color: #333;
    text-decoration: none;
}

img {
    max-width: auto;
    max-height: 100%;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.navigation {
    padding: 1em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

nav {
    margin-top: 20px;
}

li {
    display: inline;
    padding: 1em;
    text-decoration: none;
}

footer {
    flex-shrink: 0;
    background-color: #f2f2f2;
}

figure {
    display: flex;
    padding: 2em;
    justify-content: center;
}

#search-container {
    width: 100%;
    border-radius: 2em;
    border: 1px solid lightgrey;
    height: 3em;
    margin-bottom: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#searchbar {
    border: none;
}

#search {
    color: lightgrey;
    margin-left: 0.5em;
}

#voice-icon {
    height: 50%;
    width: auto;
    margin-right: 1em;
}

button {
    color: #666666;
    background-color: #f2f2f2;
    border: 0 none lightgrey;
    border-radius: 0.5em;
    display: inline-block;
    padding: 1em;
    margin: 0.5em;
}

#container {
    flex: 1 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#button-container {
    display: flex;
    justify-content: center;
}

#content {
    margin-top: 10%;
    min-width: 500px;
}